{% extends 'SFCapBundle::cap.html.twig' %}
{% block content %}
<script type="text/javascript" src="https://raw.github.com/andris9/jStorage/master/jstorage.js"></script>
<script type="text/javascript" src="/bundles/sfcap/js/SFGeoTracker.js"></script>
<script type="text/javascript" src="/bundles/sfcap/js/SFChronometer.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <div id="gpsState"></div>
  <button class="btn btn-primary btn-large" id="chronoBtnStart">Démarrer</button>
  <button class="btn btn-primary btn-large" id="chronoBtnStop">Pause</button>
  <button class="btn" id="chronoBtnReset">RAZ</button>
  <button class="btn" id="chronoBtnEnd">Tracer la carte</button>
<script>
$(function(){
  $("#chronoBtnEnd").click(function(){
    CAPGeoTracker.showMap();
  });
});
</script>
<div id="SFCron"></div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>distance</th>
        <th>total</th>
        <th>time</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>accuracy</th>
      </tr>
    </thead>
    <tbody id="xylist">
    </tbody>
  </table>
<div id="map_canvas" style="width:700px; height:400px;"></div>
  <script>

  var CAPGeoTracker=new SFGeoTracker();
  CAPGeoTracker.accuracy=100;
  var CAPChrono=new SFChronometer("#SFCron",{buttonStart:"#chronoBtnStart",buttonStop:"#chronoBtnStop",buttonReset:"#chronoBtnReset",displayMsecs:false});
  CAPGeoTracker.watchPosition();
  </script>
{% endblock %}
