{% extends 'SFCapBundle::cap.html.twig' %}
{% block body %}
<h1>Création d'un poids</h1>

<form action="{{ path('weight_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Enregistrer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('weight') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
